<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <label for="username">First Name:</label><br>
    <input type="text" name="firstName" id="fName" required><br><br>

    <label for="username">Last Name:</label><br>
    <input type="text" name="lastName" id="lName" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" required><br><br>

    <button type="submit">Register</button>
  </form>
</body>
</html>